@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <h1>Sales Web manager</h1>
    </div>
    <div class="row d-flex justify-content-center m-2">
        <a asp-action="Index" asp-controller="Sellers" type="button" class="btn btn-outline-warning btn-lg col-6">Sellers</a>
    </div>
    <div class="row d-flex justify-content-center m-2">
        <a asp-action="Index" asp-controller="Departments" type="button" class="btn btn-outline-warning btn-lg col-6">Departments</a>
    </div>
    <div class="row d-flex justify-content-center m-2">
        <a asp-action="Index" asp-controller="SalesRecords" type="button" class="btn btn-outline-warning btn-lg col-6">Sales Records</a>
    </div>
</div>
